<div class="doctor-card-container">
    <div class="doctor-card-head">
        <div class="doctor-views-container">
            <img src="/assets/images/views-icon-doctor.png" id="views-icon-doctor">
            <div class="views-count">
                125,999
            </div>
        </div>
        <img src="/assets/images/pin-icon-doctor.png" id="pin-icon-doctor">
    </div>
    <div class="doctor-card-body">
        <div class="doctor-card-photo">
            <!-- TODO dynamically add doctor photo -->
        </div>
        <div class="doctor-card-name">
            {{doctor?.firstName}} {{doctor?.lastName}}
        </div>
        <div class="doctor-card-category">
            {{getDoctorCategory(doctor?.category)}}
        </div>
        <div class="doctor-card-rating">
            <img *ngFor="let _ of getDoctorRatingArray(doctor?.rating)" src="/assets/images/star-icon.png">
        </div>
    </div>
    <button class="doctor-card-reserve-button">
        <div class="reserve-button-text">მიღებაზე ჩაწერა</div>
        <img src="/assets/images/arrow-icon-dark.svg" id="reserve-button-arrow">
    </button>
</div>
