<div class="register-container">
    <div class="register-form-container">
        <div class="register-form-heading">
            რეგისტრაცია
        </div>
        <form class="register-form" [formGroup] = "registerForm" (ngSubmit) = "onSubmit()">
            <div class="field-container">
                <label class="field-label" for="firstName">სახელი</label>
                <input id="firstName" class="field-input" type="text" formControlName="firstNameField" />
            </div>
            <div class="field-container">
                <label class="field-label" for="lastName">გვარი</label>
                <input id="lastName" class="field-input" type="text" formControlName="lastNameField" />
            </div>
            <div class="field-container">
                <label class="field-label" for="personalNumber">პირადი ნომერი</label>
                <input id="personalNumber" class="field-input" type="text" formControlName="personalNumberField" placeholder="(ზუსტად 11 სიმბოლო)"/>
            </div>
            <div class="field-container">
                <label class="field-label" for="email">Email</label>
                <input id="email" class="field-input" type="text" formControlName="emailField" />
                <div class="send-email-container" (click) = "sendEmail()">
                    <img src="/assets/images/mail-icon.svg" class="send-email-icon">
                </div> 
            </div>
            <div class="field-container">
                <div class="activation-code-labels">
                    <label class="field-label" for="activationCode">აქტივაციის კოდი</label>
                    <label class="field-secondary-label">ვადა 2 წთ</label>
                </div>
                <input id="activationCode" class="field-input" type="text" formControlName="activationCodeField" />
            </div>
            <div class="field-container">
                <label class="field-label" for="password">პაროლი</label>
                <input id="password" class="field-input" [type]="showPassword ? 'text' : 'password'" formControlName="passwordField" placeholder="(მინიმუმ 8 სიმბოლო: A, a, 5, @, ;)"/>
                <div class="show-password-container" (click)="showPassword = !showPassword">
                    <img src="/assets/images/show-password-icon.svg" class ="show-password-icon">
                </div>
            </div>
            <button class="register-submit-button" type="submit">
                რეგისტრაცია
            </button>
        </form>
    </div>
</div>

