<div class="footer-container">
  <div class="main-footer-container">
    <div class="logo-container">
      <img src="/assets/images/logo-footer.png" id="logo-image">
      <p id="logo-text">კლინიკა</p>
    </div>
    <div class="info-container">
        <div class="info-headings">
            <span class="info-heading">ინფორმაცია</span>    
            <span class="info-heading">პაციენტებისთვის</span>
            <span class="info-heading">კონტაქტი</span>
            <span class="info-heading">გამოგვყევით</span>
        </div>
        <div class="info-bodies">
            <div class="info-body1">
                <div>ჩვენ შესახებ</div>
                <div>პარტნიორები</div>
                <div>ექიმებისთვის</div>
                <div>კლინიკებისთვის</div>
                <div>აფთიაქებისთვის</div>
            </div>
            <div class="info-body2">
                <div>ექიმები</div>
                <div>კლინიკები</div>
                <div>ანოტაციები</div>
                <div>ბლოგი</div>
                <div>მედია</div>
            </div>
            <div class="info-body3">
                <div>სამუშაო დღეები: <br>ორშ - პარ</div>
                <div>სამუშაო დრო: <br>9:00 - 17:00</div>
                <div>იაკობ ნიკოლაძე №10</div>
                <div>032 2 100 100</div>
            </div>
            <div class="info-body4">
                <div>Facebook</div>
                <div>Instagram</div>
                <div>Youtube</div>
            </div>
        </div>
    </div>
  </div>
  <div class="sub-footer-container">
    <div class="copyright-text-container">copyright</div>
  </div>
</div>
