.header-container{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.main-header-container{
    height: 66px;
    margin-top: 17px;
    margin-left: 130px;
    margin-right: 130px;
    margin-bottom: 27px;
    display: flex;
}

.logo-container{
    display: flex;
    padding-left: 20px;
    margin-right: 20px;
}

#logo-image{
    width: 90px;
    height: 66px;
}

#logo-text{
    width: 103px;
    height: 26px;
    margin-top: 22px;
    margin-bottom: 18px;
    margin-left: -24px;
    font-family: 'FiraGO';
    font-size: 22px;
    font-weight: 500;
    line-height: 26.4px;
    letter-spacing: 0.07em;
    text-align: left;
    color: #FF2C52;
}

.main-header-text-container{
    margin-top: 24px;
    margin-left: 100px;
    margin-right: 12px;
    margin-bottom: 20px;
    width: 867px;
    height: 22px;
    font-family: 'FiraGO';
    font-size: 18px;
    font-weight: 300;
    line-height: 21.6px;
}

.header-text{
    margin-right: 30px;
    padding-top: 10px;
    padding-bottom: 16px;
    font-family: 'FiraGO';
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    text-align: left;
    color: #053354;
    cursor: pointer;
    border-bottom: 1px solid #F3F7FA
}

.header-text:hover{
    font-weight: 500;
    border-bottom: 1px solid #18A4E1;
}

.main-header-text-line{
    width: 844px;
    margin-top: 15px;
    border: 1px solid #F3F7FA
    
}

.authorize-register-button{
    margin-left: 17px;
    margin-right: 29px;
    margin-top: 14px;
    margin-bottom: 34px;
    width: auto;
    height: 18px;
    padding-left: 25px;
    padding-right: 23px;
    padding-top: 11px;
    padding-bottom: 15px;
    border-radius: 25px;
    background: #F0FAFF;
}

.authorize-button{
    font-family: 'FiraGO';
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;
    color: #053354;
    cursor: pointer;
}

.authorize-button:hover{
    color: #18A4E1;
}

.register-button{
    font-family: 'FiraGO';
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;
    color: #053354;
    cursor: pointer;
}

.register-button:hover{
    color: #18A4E1;
}

.language-button{
    margin-top: 14px;
    width: auto;
    height: 18px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 24px;
    padding-right: 22px;
    border-radius: 25px;
    background: #F0FAFF;
    font-family: 'FiraGO';
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;
    cursor: pointer;
}

.language-button:hover{
    color: #18A4E1;
}

.search-header-container{
    width: 100%;
    height: 120px;
    margin-top: 27px;
    background: #ECF2F8;
    display: flex;
}

.call-container{
    display: flex;
    padding-left: 150px;
    padding-top: 37px;
    padding-bottom: 43px;
}

.call-icon{
    width: 40px;
    height: 40px;
    background: #FFFFFF;
    display: flex;
    border-radius: 20px;
}

.phone-icon{
    width: 18px;
    height: 18px;
    padding-left: 11px;
    padding-top: 10px;
    padding-right: 9px;
    padding-bottom: 10px;
}

.call-text{
    width: auto;
    height: 22px;
    padding-top: 9px;
    padding-bottom: 9px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    font-family: 'FiraGO';
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    letter-spacing: 0.07em;
}

.location-container{
    display: flex;
    padding-top: 37px;
    padding-bottom: 43px;
    margin-left: 40px;
}

.location-icon{
    width: 40px;
    height: 40px;
    background: #FFFFFF;
    display: flex;
    border-radius: 20px;
}

.pin-icon{
    width: 18px;
    height: 18px;
    padding-top: 12px;
    padding-bottom: 10px;
    padding-left: 11px;
    padding-right: 11px;
}

.location-text{
    width: auto;
    height: 22px;
    padding-top: 9px;
    padding-bottom: 9px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    font-family: FiraGO;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
}

.input-container{
    margin-left: 97px;
    margin-right: 150px;
    display: flex;
    align-items: center;
}

.search-by-name{
    width: 418px;
    height: 50px;
    border-radius: 50px;
    background: #FFFFFF;
    border: 1px solid #18A4E180;
    font-family: 'FiraGO';
    padding-left: 30px;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
}

.search-by-name::placeholder{
    width: 170px;
    height: 17px;
    padding-top: 16px;
    padding-bottom: 17px;
    font-family: 'FiraGO';
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    color: #0533544D;
}

.search-by-name:focus{
    outline: none;
    border: 2px solid #18A4E1;
}

.search-by-speciality{
    width: 418px;
    height: 50px;
    margin-left: 20px;
    border-radius: 50px;
    background: #FFFFFF;
    border: 1px solid #18A4E180;
    font-family: 'FiraGO';
    padding-left: 30px;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
}

.search-by-speciality::placeholder{
    width: 170px;
    height: 17px;
    padding-top: 16px;
    padding-bottom: 17px;
    font-family: 'FiraGO';
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    color: #0533544D;
}

.search-by-speciality:focus{
    outline: none;
    border: 2px solid #18A4E1;
}

.search-button{
    width: 50px;
    height: 50px;
    margin-left: 20px;
    background: #053354;
    display: flex;
    border-radius: 25px;
}

.search-icon{
    width: 24px;
    height: 24px;
    padding-left: 14px;
    padding-right: 12px;
    padding-top: 13px;
    padding-bottom: 13px;
}

