<div class="header-container">
  <div class="main-header-container">
    <img id="logo-image" src="images/Logo.png" alt="logo">
    <p id="logo-text">კლინიკა</p>
    <div class = "main-header-text-container">
        <span class="header-text">ექიმები</span>
        <span class="header-text">კლინიკები</span>
        <span class="header-text">ანოტაციები</span>
        <span class="header-text">აქციები</span>
        <span class="header-text">სერვისები</span>
        <span class="header-text">მედიკამენტები</span>
        <span class="header-text">კონტაქტი</span>                      
    </div>
    <div class="authorize-register-button">
        <span class="authorize-button">ავტორიზაცია</span>
        <span> / </span>
        <span class="register-button">რეგისტრაცია</span>
    </div>
    <div class="language-button">
        ENG
    </div>
  </div>
  <div class="search-header-container">
    <p>search header works!</p>
  </div>
</div>
