<div class="header-container">
  <div class="main-header-container">
    <div class="logo-container" routerLink="/home">
      <img src="/assets/images/logo-header.png" id="logo-image">
      <p id="logo-text">კლინიკა</p>
    </div>
    <div class="main-header-text-container">
      <span class="header-text">ექიმები</span>
      <span class="header-text">კლინიკები</span>
      <span class="header-text">ანოტაციები</span>
      <span class="header-text">აქციები</span>
      <span class="header-text">სერვისები</span>
      <span class="header-text">მედიკამენტები</span>
      <span class="header-text">კონტაქტი</span>
      <div class="main-header-text-line"></div>
    </div>
    <div class="authorize-register-button">
      <div *ngIf = "!isLoggedIn">
        <span class="authorize-button" (click)="ToggleLoginForm()">ავტორიზაცია</span>
        <span> / </span>
        <span routerLink="/register" class="register-button">რეგისტრაცია</span>
      </div>
      <div *ngIf = "isLoggedIn">
        <div class="user-tab">
          <img *ngIf="imageUrl" [src]="imageUrl" id="user-icon">
          <img *ngIf="!imageUrl" src="/assets/images/default-profile-image.png" id="user-icon">
          <span class="user-name">{{username}}</span>
          <img src="/assets/images/logout-icon.png" id="logout-icon" (click)="LogOut()">
        </div>
      </div>
    </div>
    <div class="language-button">ENG</div>
  </div>
  <div class="search-header-container">
    <div class="call-container">
      <div class="call-icon">
        <img src="/assets/images/call-icon.svg" class="phone-icon">
      </div>
      <div class="call-text">032 2 100 100</div>
    </div>
    <div class="location-container">
      <div class="location-icon">
        <img src="/assets/images/pin-icon-header.svg" class="pin-icon">
      </div>
      <div class="location-text">იაკობ ნიკოლაძე №10</div>
    </div>
    <div class="input-container">
      <div class="search-by-name-container">
        <input class="search-by-name" placeholder="მოძებნე ექიმი სახელით" [(ngModel)]="nameSearchQuery" (input)="onNameSearchChange()"/>
        <ul *ngIf="filteredNameDoctors.length > 0" class="search-results">
          <li *ngFor="let doctor of filteredNameDoctors" (click)="onSelectDoctor(doctor)">
            {{ doctor.name }}
          </li>
        </ul>
      </div>
      <div class="search-by-speciality-container">
        <input class="search-by-speciality" placeholder="მოძებნე სპეციალობით" [(ngModel)]="specialitySearchQuery" (input)="onSpecialitySearchChange()"/>
        <ul *ngIf="filteredSpecialityDoctors.length > 0" class="search-results">
          <li *ngFor="let doctor of filteredSpecialityDoctors" (click)="onSelectDoctor(doctor)">
            {{ doctor.name }}
          </li>
        </ul>
      </div>
      <div class="search-button">
        <div class="search-icon">
          <img src="/assets/images/search-icon.svg">    
        </div>
      </div>
    </div>
  </div>
</div>
@if (isOpen) {
  <app-login (toggle)="ToggleLoginForm()"/>
}
