<div class="home-container">
    <div class="thumbnail-container">
        <div class = "thumbnail-foreground">
            <div class = "thumbnail-foreground-content">
                <div class = "text-container">
                    აირჩიე კლინიკა რომელსაც შეგიძლია ენდო
                </div>
                <div class="location-container">
                    <img src="/assets/images/pin-icon-home.svg" class="location-icon">
                    <div class="location-text">
                        იაკობ ნიკოლაძე №10
                    </div>
                </div>
            </div>
        </div>
        <img src="/assets/images/location-photo.png" class = "thumbnail-background">
    </div>
    <div class = "home-body">
        <div class = "category-container">
            <div class = "category-container-header">
                კატეგორიები
            </div>
            <div class = "category-container-body" #categoryContainer [ngClass]="{'categoryExpanded': categoryIsExpanded}">
                <div class = "category-entry" *ngFor="let category of categoryInfos">
                    <div class="category-count">({{category.count}})</div>
                    <div class="category-name">{{category.name}}</div>
                    <img src="/assets/images/arrow-icon.png" id = "arrow-icon-right">
                </div>
            </div>
            <div class = "category-container-footer" (click)="ViewFullCategories()">
                <div class = "footer-text-container">{{ categoryIsExpanded ? 'დამალვა' : 'სრულად ნახვა' }}</div>
                <img src="/assets/images/arrow-icon.png" [id]="categoryIsExpanded ? 'arrow-icon-up' : 'arrow-icon-down'">
            </div>
        </div>
        <div class = "doctors-list-container">
            <div class = "doctors-list-body" #doctorsContainer [ngClass]="{'doctorsExpanded': doctorsListIsExpanded}">
                <app-doctor-card *ngFor="let doctor of doctors" [doctor]="doctor"></app-doctor-card>
            </div>
            <div class = "doctors-list-footer" (click)="ViewFullDoctors()">
                <div class="doctors-list-footer-text">{{ doctorsListIsExpanded ? 'დამალვა' : 'სრულად ნახვა' }}</div>
            </div>
        </div>
    </div> 
</div>

