<div class="home-container">
    <div class="thumbnail-container">
        <div class = "thumbnail-foreground">
            <div class = "thumbnail-foreground-content">
                <div class = "text-container">
                    აირჩიე კლინიკა რომელსაც შეგიძლია ენდო
                </div>
                <div class="location-container">
                    <img src="/assets/images/pin-icon-home.svg" class="location-icon">
                    <div class="location-text">
                        იაკობ ნიკოლაძე №10
                    </div>
                </div>
            </div>
        </div>
        <img src="/assets/images/location-photo.png" class = "thumbnail-background">
    </div>
    <div class = "home-body">
        <div class = "category-container">
            <div class = "category-container-header">
                კატეგორიები
            </div>
            <div class = "category-container-body">
                <div class = "category-entry" *ngFor="let category of categories">
                    <div class="category-count">({{50}})</div>
                    <div class="category-name">{{category}}</div>
                    <img src="/assets/images/arrow-icon.png" id = "arrow-icon-right">
                </div>
            </div>
            <div class = "category-container-footer" (click)="ViewFullCategories()">
                <div class = "footer-text-container">სრულად ნახვა</div>
                <img src="/assets/images/arrow-icon.png" id = "arrow-icon-down">
            </div>
        </div>
    </div> 
</div>

