<div class="overlay" (click)="ToggleForm()"></div>
<div class="change-password-container">
    <h1>პაროლის შეცვლა</h1>
    <form class="change-password-form" [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
        <div class="field-container">
            <input id="oldPassword" class="field-input" type="password" formControlName="oldPasswordField" placeholder="ძველი პაროლი"/>
        </div>
        <div class="field-container">
            <input id="newPassword" class="field-input" [type]="showPassword ? 'text' : 'password'" formControlName="newPasswordField" placeholder="ახალი პაროლი"/>
            <div class="show-password-container" (click)="showPassword = !showPassword">
                <img src="/assets/images/show-password-icon.svg" class ="show-password-icon">
            </div>
        </div>
        <div class="field-container">
            <input id="repeatedNewPassword" class="field-input" type="password" formControlName="repeatedNewPasswordField" placeholder="გაიმეორეთ ახალი პაროლი"/>
        </div>
        <button class="login-submit-button" type="submit">
            დადასტურება
        </button>
    </form>
</div>
