<div class="category-container">
    <h1>კატეგორიები</h1>
    <div class="category-container-body">
      <div class="category-container-header">
        <div class="category-header" id="name">
          სახელი
        </div>
        <div class="category-header" id="category">
          კატეგორია
        </div>
        <div class="category-header" id="image">
          ფოტოსურათი
        </div>
        <div class="category-header" id="rating">
          რეიტინგი
        </div>
        <div class="category-header" id="buttons">
          
        </div>
      </div>
      <div class="category-container-entries">
        <div *ngFor="let doctor of doctors" class="category-container-entry">
          <app-category-doctor-view [doctor]="doctor"></app-category-doctor-view>
        </div>
      </div>
    </div>
</div>
