.category-container{
    width: 1460px;
    height: 644px;
    margin-top: 60px;
    margin-left: 146px;
    margin-right: 314px;
    margin-bottom: 279px;
    display: flex;
    flex-direction: column;
}

h1{
    margin-top: 0px;
    margin-bottom: 43px;
    font-family: 'FiraGO';
    font-size: 26px;
    font-weight: 500;
    line-height: 31.2px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #18A4E1;
}

.category-container-body{
    box-shadow: 0px 4px 30px 0px #0533540D;
    display: flex;
    flex-direction: column;
}

.category-container-header{
    display: flex;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: #F0FAFF;
}

.category-header{
    width: auto;
    height: 48px;
    display: flex;
    align-items: center;
    font-family: 'FiraGO';
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #053354;
}

#name{
    padding-left: 34px;
}

#category{
    padding-left: 235px;
}

#image{
    padding-left: 236px;
}

#rating{
    padding-left: 240px;
}

.category-container-entries{
    max-height: 522px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
}

.category-container-entries::-webkit-scrollbar {
    width: 1px;
}

.category-container-entries::-webkit-scrollbar-track {
    background-color: #F0FAFF;
}

.category-container-entries::-webkit-scrollbar-thumb {
    border: 1px solid #F0FAFF;
}

.category-container-entries:last-child{
    border-bottom: none;
}

