<div class="admin-panel-container">
    <div class="admin-profile-container">
        <div class="admin-header-container">
            <div class="menu-container">
                <div class="menu-icon-container">
                    <img src="/assets/images/top-line-icon.svg" class="top-line-icon">
                    <img src="/assets/images/mid-line-icon.svg" class="mid-line-icon">
                    <img src="/assets/images/bot-line-icon.svg" class="bot-line-icon">
                </div>
                <div class="menu-entry-container" routerLink="/register-doctor">
                    რეგისტრაცია
                </div>
                <div class="menu-entry-container" routerLink="/category">
                    კატეგორიები
                </div>
                <div class="menu-entry-container">
                    ექიმები
                </div>
            </div>
            <div class="header-roles-container">
                <div class="header-role">
                    ექიმი
                </div>
                <div class="header-role">
                    მომხმარებელი
                </div>
                <div class="header-role">
                    ადმინისტრატორი
                </div>
            </div>
        </div>
        <div *ngIf="!doctorSelected" class="admin-start-page">
            <div class="admin-welcome-text">
                <div class="admin-welcome-header">
                    მოგესალმებით ადმინის გვერდზე
                </div>
                <div class="admin-welcome-body">
                    აქედან შესაძლებელია:
                    <ul>
                        <li>ახალი ექიმის დამატება</li>
                        <li>ექიმის ინფორმაციის ნახვა</li>
                        <li>ექიმის ინფორმაციის რედაქტირება</li>
                    </ul>
                </div>
            </div>
        </div>
        <div *ngIf="doctorSelected" class="admin-body-container">
            <div class="doctor-container">
                <app-edit-doctor [doctor]="doctor"></app-edit-doctor>
            </div>
            <div class="calendar-container">
                <app-calendar></app-calendar>
            </div>
        </div>
    </div>
</div>
