<div class="admin-panel-container">
    <div class="admin-profile-container">
        <div class="admin-header-container">
            <div class="menu-container">
                <div class="menu-icon-container">
                    <img src="/assets/images/top-line-icon.svg" class="top-line-icon">
                    <img src="/assets/images/mid-line-icon.svg" class="mid-line-icon">
                    <img src="/assets/images/bot-line-icon.svg" class="bot-line-icon">
                </div>
                <div class="menu-entry-container">
                    რეგისტრაცია
                </div>
                <div class="menu-entry-container" routerLink="/category">
                    კატეგორიები
                </div>
                <div class="menu-entry-container">
                    ექიმები
                </div>
            </div>
            <div class="header-roles-container">
                <div class="header-role">
                    ექიმი
                </div>
                <div class="header-role">
                    მომხმარებელი
                </div>
                <div class="header-role">
                    ადმინისტრატორი
                </div>
            </div>
        </div>
        <div class="admin-body-container">
            <div class="doctor-panel-container">

            </div>
            <div class="calendar-container">
                <!-- TODO initialize calendar component and functionality -->
            </div>
        </div>
    </div>
</div>
