<div [ngClass]="router.url.includes('/reservation') ? 'calendar-and-buttons-reservation' : 'calendar-and-buttons-profile'">
  <div class="calendar-container">
    <div class="month-year-display">
      <div class="current-year-display">
        {{ currentYear }}
      </div>
      <div class="current-month-display">
        <button class="change-month-button" (click)="changeWeek(-4)">
          <img src="/assets/images/arrow-icon-small.svg">
        </button>
        <div class="current-month-text">
          {{ currentMonth }} 
        </div>
        <button class="change-month-button" (click)="changeWeek(4)">
          <img src="/assets/images/arrow-icon-small.svg"  id="next-month-icon">
        </button>
      </div>
    </div>
    <div class="calendar-grid">
      <div class="header-row">
        <div class="week-navigation">
          <button class="prev-week-button" (click)="changeWeek(-1)">
            <img src="/assets/images/arrow-icon-small.svg">
          </button>
          <button class="next-week-button" (click)="changeWeek(1)">
            <img src="/assets/images/arrow-icon-small.svg">
          </button>
        </div>
        <div class="header-cell" *ngFor="let weekday of weekdays">
          <span class="date">{{ weekday.dateLabel }}</span>
          &nbsp;
          <span class="day">{{ weekday.dayLabel }}</span>
        </div>
      </div>
      <div class="timeslot-row" *ngFor="let timeslot of timeslots">
        <div class="timeslot-cell">{{ timeslot }}</div>
        <div class="grid-cell" *ngFor="let weekday of weekdays">
          <div *ngIf="!isReserved(weekday.date, timeslot)" class="not-reserved-cell">
            <div *ngIf="weekday.dayLabel === '( შაბ )' || weekday.dayLabel === '( კვი )'" class="weekend-cell">
            </div>
            <div *ngIf="weekday.dayLabel !== '( შაბ )' && weekday.dayLabel !== '( კვი )' && router.url.includes('/reservation')" class="weekday-cell" (click)="addReservation(weekday.date, timeslot)">
              <span>+</span>&nbsp;დაჯავშნა
            </div>
          </div>
          <div *ngIf="isReserved(weekday.date, timeslot)" class="reserved-cell">
            <app-calendar-reservation [currentReservation]="getReservationByTimeSlot(formatDate(weekday.date, timeslot))"></app-calendar-reservation>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!this.router.url.includes('/profile/')" [ngClass]="router.url.includes('/reservation') ? 'calendar-buttons-reservation' : 'calendar-buttons-profile'">
    <div class="edit-doctor-button-container" (click)="ToggleEditMode()">
        <img src="/assets/images/edit-doctor-admin.svg">
        <div class="edit-doctor-button">რედაქტირება</div>
    </div>
    <div class="delete-doctor-button-container" (click)="ToggleDeleteMode()">
        <img src="/assets/images/delete-doctor-admin.svg">
        <div class="delete-doctor-button">წაშლა</div>
    </div>
  </div>
</div>