<div class="calendar-container">
    <div class="month-year-display">
      <div class="current-year-display">
        {{ currentYear }}
      </div>
      <div class="current-month-display">
        <button class="change-month-button" (click)="changeWeek(-4)">
          <img src="/assets/images/arrow-icon-small.svg">
        </button>
        <div class="current-month-text">
          {{ currentMonth }} 
        </div>
        <button class="change-month-button" (click)="changeWeek(4)">
          <img src="/assets/images/arrow-icon-small.svg"  id="next-month-icon">
        </button>
      </div>
    </div>
    <div class="calendar-grid">
      <div class="header-row">
        <div class="week-navigation">
          <button class="prev-week-button" (click)="changeWeek(-1)">
            <img src="/assets/images/arrow-icon-small.svg">
          </button>
          <button class="next-week-button" (click)="changeWeek(1)">
            <img src="/assets/images/arrow-icon-small.svg">
          </button>
        </div>
        <div class="header-cell" *ngFor="let weekday of weekdays">
          <span class="date">{{ weekday.dateLabel }}</span>
          &nbsp;
          <span class="day">{{ weekday.dayLabel }}</span>
        </div>
      </div>
      <div class="timeslot-row" *ngFor="let timeslot of timeslots">
        <div class="timeslot-cell">{{ timeslot }}</div>
        <div class="grid-cell" *ngFor="let weekday of weekdays" (click)="addReservation(weekday.date, timeslot)">
          <div *ngIf="isReserved(weekday.date, timeslot)" class="reserved-cell">
            <app-calendar-reservation [currentReservation]="getReservationByTimeSlot(formatDate(weekday.date, timeslot))"></app-calendar-reservation>
          </div>
        </div>
      </div>
    </div>
</div>